<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExLibris.JiraExtensions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings file="PrivateSettings.config">
        <!--<add key="jiraUrl" value="http://10.1.234.87/sr/jira.issueviews:searchrequest-xml/temp/SearchRequest.xml?jqlQuery=project+%3D+INST+AND+resolution+%3D+Unresolved+AND+%22Start+Date%22+%3E%3D+-14d" />-->
        <add key="jiraPrefix" value="http://10.1.234.87:8080/" />
        <add key="jiraUsername" value="jiraext" />
        <add key="pivotalUrl" value="http://il-crm01/epower/rdaui.htm?Exlibris&amp;http://il-crm01&amp;form=0x8000000000000035&amp;record=" />
        <add key="SFUrl" value="https://exlibrisgroup.my.salesforce.com/" />
		
        <add key="connectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST= il-jiradb01)(PORT=1521)))(CONNECT_DATA=(SID=jira)));User Id=jirauser;Password=030167205174155150078241081176113030107187139183;" />  
		<add key="jenkinsUrl" value="http://il-rosettabuild:5080/jenkins" />
        <add key="jenkinsUsername" value="joshw" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>

        <pages>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
            </namespaces>
        </pages>
        <customErrors mode="Off" />
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <!--
        <ExLibris.JiraExtensions.Properties.Settings>
            <setting name="ExLibris.JiraExtensions_JiraRPC_JiraSoapServiceService" serializeAs="String">
                <value>http://il-iapps04:8181/rpc/soap/jirasoapservice-v2</value>
            </setting>
        </ExLibris.JiraExtensions.Properties.Settings>
        -->
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="jirasoapservice-v2SoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <!--
        <client>
            <endpoint address="http://il-iapps04:8181/rpc/soap/jirasoapservice-v2" binding="basicHttpBinding" bindingConfiguration="jirasoapservice-v2SoapBinding" contract="JiraRPC2.JiraSoapService" name="jirasoapservice-v2" />
        </client>
        -->
    </system.serviceModel>
</configuration>